<!DOCTYPE html>
<html lang="en">
<head>
	<script>
		var timerStart = Date.now();
	</script>
	<meta charset="UTF-8">
	<title>Hex Crazy</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>Hex Crazy</h1>
		<svg width={{svg_width}} height={{svg_height}}>
			{% for circle in circles %}
				<circle cx={{circle.cx}} cy={{circle.cy}} r={{radius}} fill=#3F7CAC data-status="0" id={{circle.id}} />
				<text x={{circle.cx}} y={{circle.cy}} font-size={{radius}} text-anchor="middle" alignment-baseline="middle">
				    {{circle.id}}
				</text>
			{% endfor %}
		</svg>
		<h2>You have a total number of {{total_units}} units!</h2>
	</div>

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="javascripts/moveLogic.js"></script>

	<script>
		$(document).ready(function(){
			console.log("Time for DOM to load", (Date.now() - timerStart)/1000, "s");
		})
		$(window).ready(function(){
			var total_time = (Date.now() - timerStart);
			console.log("Time for everything to load", total_time/1000, "s");
			console.log("Average unit time per thousands", (total_time/{{total_units}} * 1000),"ms")
		})
	</script>
</body>
</html>