<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hex Crazy</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>Hex Crazy</h1>
		<svg width={{svg_width}} height={{svg_height}}>
			{% for circle in circles %}
				<circle cx={{circle.cx}} cy={{circle.cy}} r={{radius}} fill=#3F7CAC data-status="0" id={{circle.id}} />
			{% endfor %}
		</svg>
		<h2>You have a total number of {{total_units}} units!</h2>

	</div>

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="javascripts/moveLogic.js"></script>
	<script> hi() </script>


</body>
</html>